In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
Angel_market = pd.read_csv("angels_market.csv")
Angel_market.head()

,vendorID,theme,homeState,carnivals,complaints,est_energy,est_hourly_vol,LL_passholder,est_hourly_gross
0,1,Hot Chocolate/Warm Treats,Maine,3,9,57.291961,118,0,217.93
1,2,Local Artists,Vermont,1,2,39.404898,105,1,209.51
2,3,Fortune Teller,New Hampshire,5,4,47.175958,94,0,200.68
3,4,Fried Dough and Pizza,Maine,8,0,58.192568,118,0,251.40
4,5,craft beer,New Hampshire,7,6,56.657908,102,0,168.76

Removing the data which are not required. i.e. the rows where state value is integer and it doesn't make sense.

In [32]:
Possible_state = ['Maine','Vermont','New Hampshire','Quebec','Connecticut','Massachusetts','Ontario']

In [33]:
Angel_market = Angel_market[Angel_market.homeState.isin(Possible_state)]

In [34]:
Angel_market.columns

Index(['vendorID', 'theme', 'homeState', 'carnivals', 'complaints',
       'est_energy', 'est_hourly_vol', 'LL_passholder', 'est_hourly_gross'],
      dtype='object')

We will remove the vendor ID column as this may not be required in the data visualization and analysis.

In [35]:
Angel_market = Angel_market.drop('vendorID',1)

In [36]:
Angel_market.columns

Index(['theme', 'homeState', 'carnivals', 'complaints', 'est_energy',
       'est_hourly_vol', 'LL_passholder', 'est_hourly_gross'],
      dtype='object')

Let's ensure that the dataset doesn't contain any NaN value.

In [37]:
Angel_market.isnull().values.any()

False